body{
    background-color: white;
    display: flex;
    justify-content: center;
}

.flex-container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 400px;
    height: 350px;
    justify-content:flex-start;
}

h1{
    text-align: center;
    color: orangered;
}

p{
    text-align: center;
    color: black;
    margin-bottom: 50px;
}

#counter{
    text-align: center;
    display: flex;
    justify-content: center;
}

button{
    margin-left: 10px;
    margin-right: 10px;
}